.RData
.Rhistory
auto/
biomass_ipm.aux
biomass_ipm.bbl
biomass_ipm.bbl-SAVE-ERROR
biomass_ipm.bcf
biomass_ipm.bcf-SAVE-ERROR
biomass_ipm.fdb_latexmk
biomass_ipm.fls
biomass_ipm.out
biomass_ipm.run.xml
biomass_ipm.run.xml
/biomass_ipm_perplexity.org
*.blg
/ltximg/
*.blg
